body, html {
    background-color: #0c0c0c;
    margin: 0;
    color-scheme: dark;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  * { margin: 0; }
  
  .name {
    display:flex; flex-direction: column;
    .pronouns {
      font-size: 0.8rem;
      opacity: 0.75;
    }
    a { 
      all: unset;
      &:hover { text-decoration: underline; cursor: pointer }
    }
  }
  
  .hole {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #080808;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .modifiers, .things {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    > span:not(.title) {
      background-color: #1c1c1c;
      padding: 0.125rem 0.25rem;
      border-radius: 1rem;
      width: fit-content;
    }
    > * { margin: auto; }
    .title {
      font-weight: bold;
    }
  }