---
import WordList from '../components/WordList.astro'
import Layout from '../layouts/Layout.astro'
const modifiers = [
  'such a',
  'good',
  'pretty',
  'needy',
  'slutty',
  'my',
  'little',
  'rapeworthy',
  'cuddly',
  'warm',
  'cock obsessed',
  'dumb',
  'adorable',
  'loyal',
]
const things = [
  'bitch',
  'slut',
  'whore',
  'puppy',
  'dog',
  'girl',
  'princess',
  'cutie',
  'sweetie',
  'cumslut',
  'fuckpuppy',
  'puppygirlfriend',
  'lap dog',
]
---

<Layout>
  <div class="card bg-blur">
    <WordList words={modifiers} title="Modifiers" />
    <WordList words={things} title="Things" />
  </div>
</Layout>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }
</style>
