---
import Layout from '../layouts/Layout.astro'
const modifiers = [
  'such a',
  'good',
  'pretty',
  'needy',
  'slutty',
  'my',
  'little',
  'cute',
  'rapeworthy',
  'cuddly',
  'warm',
  'cock obsessed',
  'dumb',
  'adorable',
  'loyal',
]
const things = [
  'bitch',
  'slut',
  'whore',
  'puppy',
  'dog',
  'girl',
  'princess',
  'cutie',
  'sweetie',
  'cumslut',
  'fuckpuppy',
  'puppygirlfriend',
  'lap dog',
]

type category = { title: string; words: string[] }

const categories: category[] = [
  {
    title: 'Modifiers',
    words: modifiers,
  },
  {
    title: 'Things',
    words: things,
  },
]
---

<Layout>
  <div class="card bg-blur">
    {
      categories.map((props) => (
        <div class="col gap-3 items-center">
          <span class="font-bold py-1">{props.title}</span>
          <div class="col dark-bg-blur items-center justify-around p-1 rounded-xl h-full">
            {props.words.map((word) => (
              <span class="px-1">{word}</span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }
</style>
