---
import { getCollection } from 'astro:content'
const posts = await getCollection('devblogs')
import BlogListItem from '../components/BlogListItem.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="card bg-blur col">
    <h1>devblogs!!</h1>
    <hr class="my-3" />
    <ul class="col gap-3.5">
      {
        posts
          .toSorted((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
          .map((entry) => <BlogListItem {entry} />)
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  .card {
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    max-width: 950px;
    padding: 1rem;
    margin: 1rem;
  }
  hr {
    margin: 0.8rem 0;
  }
</style>
