---
import { Picture } from 'astro:assets'
import LinkButton from '../components/LinkButton.astro'
import DiscordButton from '../components/DiscordButton.svelte'
import Layout from '../layouts/Layout.astro'
import mochie from '/src/assets/mochienya.png'

const anim = {
  old: {
    name: 'slideOutLeft',
    duration: '0.5s',
  },
  new: {
    name: 'slideOutLeft',
    duration: '0.5s',
    direction: 'reverse',
  },
}
const guh = {
  forwards: anim,
  backwards: anim,
}
---

<Layout>
  <div class="bgblur row card">
    <Picture
      src={mochie}
      formats={['avif', 'webp']}
      fallbackFormat='png'
      alt="mochie!!"
    />

    <div class="col otherSection">
      <div class="textContainer darkbgblur">
        <p>
          haiiii! i'm a massive tech nerd currently trying to teach myself stuff
          so i can get a job <br />
          i really enjoy tinkering with linux, watching shows with my gf, and talking
          to people
        </p>
        <p>
          The mochie knows where she is at all times. She knows this because
          she's in her master's arms.
        </p>
        <!-- add more stuff here. i can't think anymore -->
      </div>

      <div class="row links">
        <DiscordButton client:only />

        {[
          ['bluesky','https://bsky.app/profile/mochie.being.dog', 'mingcute:bluesky-social-fill'],
          ['source', 'https://github.com/mochienya/webnya', 'mdi:github'],
         ].map(([label, href, icon]) => <LinkButton {label} {href} {icon} />)
        }
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  img {
    width: 320px;
    height: 320px;
  }
  .card {
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    max-width: 950px;
    padding: 1rem;
    margin: 1rem;
  }

  .textContainer {
    padding: 0.65rem;
    border-radius: 10px;
  }

  .otherSection {
    height: 100%;
    justify-content: space-between;
  }

  .links {
    gap: 0.5rem;
    justify-content: end;
  }
  @media (max-width: 645px) {
    .card {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
