---
import { Picture } from 'astro:assets'
import LinkButton from '../components/LinkButton.astro'
import DiscordButton from '../components/DiscordButton.astro'
import Layout from '../layouts/Layout.astro'
import mochie from '/src/assets/mochienya.png'
---

<script>
  import { navigate } from 'astro:transitions/client'
  function init() {
    let count = 1
    ;(document.getElementById('clickableMochieWrapperLink')! as HTMLButtonElement).addEventListener('click', () =>
      count >= 5 ? navigate('/degeneracy') : console.log(count++)
    )
  }
  // not too fond of this workaround but it's worth it for the clientrouter experience
  init()
  document.addEventListener('astro:after-swap', init)
</script>

<Layout>
  <div class="bg-blur row card mb:flex-col mb:gap-4">
    <button id="clickableMochieWrapperLink" class="cursor-pointer">
      <Picture src={mochie} formats={['avif', 'webp']} fallbackFormat="png" alt="mochie!!" />
    </button>

    <div class="col h-full justify-between">
      <div class="dark-bg-blur p-3 rounded-xl">
        <p>haiiii! i'm a massive tech nerd currently trying to teach myself stuff for fun or maybe get a job.</p>
        <p>things i like:</p>
        <ul class="list-inside list-disc">
          <li>tinkering with linux(nixos)</li>
          <li>rust</li>
          <li>typescript</li>
          <li>watching shows with my gf</li>
          <li>talking to people (sometimes)</li>
        </ul>
        <br />
        <p>The mochie knows where she is at all times. She knows this because she's in her master's arms.</p>
        <!-- add more stuff here. i can't think anymore -->
      </div>

      <div class="row gap-2 justify-end">
        <DiscordButton />
        {
          [
            ['bluesky', 'https://bsky.app/profile/mochie.being.dog', 'mingcute:bluesky-social-fill'],
            ['source', 'https://github.com/mochienya/webnya', 'mdi:github'],
          ].map(([label, href, icon]) => <LinkButton {label} {href} {icon} />)
        }
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  img {
    width: clamp(160px, 50vw, 320px);
    aspect-ratio: 1 / 1;
    max-width: unset;
  }
  .card {
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    max-width: 950px;
    padding: 1rem;
    margin: 1rem;
  }
</style>
