---
import type { CollectionEntry } from 'astro:content'
interface Props {
  entry: CollectionEntry<'devblogs'>
}
const { entry } = Astro.props
---

<a class="row justify-between dark-bg-blur listElement" href={entry.id}>
  <div class="col">
    <h2 class="">{entry.data.title}</h2>
    <span class="text-light-text">{entry.data.description}</span>
  </div>
  <div class="col">
    <span class="text-light-text">{entry.data.date}</span>
  </div>
</a>

<style lang="scss">
  .listElement {
    padding: 0.4rem;
    border-radius: 10px;
    transition: scale 0.6s cubic-bezier(0.34, 1.54, 0.64, 1);
    &:hover {
      cursor: pointer;
      scale: 1.03;
    }
  }
</style>
