---
import { Icon } from 'astro-icon/components'
---

<script>
  function init() {
    let timeoutId: Timer | undefined
    ;(document.getElementById('copyButton')! as HTMLButtonElement).addEventListener('click', () => {
      clearTimeout(timeoutId)
      navigator.clipboard.writeText('mochienya')

      toggleVisibilities()
      timeoutId = setTimeout(toggleVisibilities, 1_250)
    })

    const copiedToast = document.getElementById('copiedToast')! as HTMLSpanElement
    const copyToast = document.getElementById('copyToast')! as HTMLSpanElement

    function toggleVisibilities() {
      copyToast.classList.toggle('hidden')
      copiedToast.classList.toggle('inline')
    }
  }
  init()
  document.addEventListener('astro:after-swap', init)
</script>

<div class="big">
  <span id="copiedToast" class="discordPrompt">copied~!</span>
  <span id="copyToast" class="hoverPrompt discordPrompt">click to copy :3</span>

  <button id="copyButton" class="bouncy-blue-button">
    <div class="textContainer">
      <span>
        <Icon name="ic:baseline-discord" />
        discord
      </span>
      <span>mochienya</span>
    </div>
  </button>
</div>

<style lang="scss">
  .big {
    position: relative;
    display: flex;
    flex-direction: column;
    &:hover {
      .hoverPrompt {
        display: unset;
      }
      > button > div > span {
        transform: translateY(-1.9rem);
      }
    }
  }

  .discordPrompt {
    display: none;
    position: absolute;
    bottom: 2.5rem;
    background-color: #23a55a;
    padding: 0.25rem;
    border-radius: 0.25rem;
    align-self: center;
  }
  .hoverPrompt {
    display: none;
    background-color: #505050;
    left: -0.35rem;
    right: -0.35rem;
    text-align: center;
  }

  .textContainer {
    background-color: #31a3d8;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1.375rem;
    text-align: center;
    gap: 0.5rem;
    overflow: hidden;
    > span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      transition: transform 0.2s cubic-bezier(0.37, 0, 0.63, 1);
      // the :hover is further up because if you put it here and try hovering button edge it no worky
    }
  }
</style>
