<footer class="bg-blur">
  <div>
    <a href="https://nixwebr.ing/prev/mochienya">prev</a>
  </div>
  <div>
    <a href="https://nixwebr.ing">nixwebr.ing</a>
  </div>
  <div>
    <a href="https://nixwebr.ing/next/mochienya">next</a>
  </div>
</footer>

<style lang="scss">
  a {
    color: #ccc;
    cursor: pointer;
    font-size: 1.05em;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  footer {
    min-width: max-content;
    width: 25vw;
    bottom: 0px;
    z-index: 2;
    position: fixed;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: space-around;
    border-radius: 0.75rem 0.75rem 0 0;
    padding: 0.5rem;
  }
</style>
