---
import LinkButton from './LinkButton.astro'
import { buttonProps } from '../utils/navButtonProps'
---

<header class="bg-blur">
  <div class="row items-center gap-2 mb:invisible!">
    <div class="ml-4 invisible"></div>
    {buttonProps.map(([label, href]) => <LinkButton {label} {href} />)}
  </div>

  <div class="col items-center justify-center">
    <div class="col">
      <h1>mochienya</h1>
      <h5>
        she/<a href="https://f53.dev" class="hover:underline cursor-pointer">her's</a>
      </h5>
    </div>
  </div>

  <div>{/* i'll put a light mode toggle here some day... */}</div>
</header>

<style lang="scss">
  header {
    width: 100vw;
    top: 0px;
    z-index: 2;
    position: sticky;
    display: flex;
    flex-direction: row;
    > * {
      flex: 1;
    }
  }
</style>
