---
import { Icon } from 'astro-icon/components'
interface Props {
  label: string
  href: string
  icon?: string
}
const { label, href, icon } = Astro.props
---

<a {href} class="bouncy-blue-button p-0">
  {icon && <Icon name={icon} />}
  <span>{label}</span>
</a>
