:global(body, html) {
  margin: 0;
  color-scheme: dark;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
:global(*) { margin: 0; }
:global(html) {
  background-color: #0c0c0c;
}
:global(main) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

:global(.bgblur) {
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(0.3rem);
}
// :global(body) {
//   height: 100vh;
//   background: radial-gradient(ellipse at bottom, #0c0c0c 0%, #0c0c0c 100%);
//
//   width: min-content;
// }