---
import { getEntry, render } from 'astro:content'
import Layout from './Layout.astro'

let currentPage = Astro.url.pathname.split('/').at(-1)!

if (currentPage === '') currentPage = 'autopgp'

const entry = await getEntry('devblogs', `/devblogs/${currentPage}`)!

const { Content } = await render(entry)
const { title, description, date } = entry.data
---

<Layout>
  <div class="bg-blur card">
    <div class="row justify-between">
      <div class="col">
        <h1 class="mb-3 leading-5">{title}</h1>
        <h5>{description}</h5>
      </div>
      <h5>{date}</h5>
    </div>
    <hr />
    <div class="markdown"><Content /></div>
  </div>

  <style lang="scss">
    .card {
      align-items: center;
      padding: 0.5rem;
      border-radius: 1rem;
      max-width: 950px;
      padding: 1rem;
      margin: 1rem;
      > * {
        margin: 0.65rem 0;
      }
    }
    :global(.markdown :is(p, h2, h3, ul)) {
      margin-bottom: 0.6rem;
      scroll-margin-top: 4rem;
    }
  </style>
</Layout>
