---
import { getEntry, render } from 'astro:content'
import Layout from './Layout.astro'

let currentPage = Astro.url.pathname.split('/').findLast(() => true)!

if (currentPage === '') currentPage = 'autopgp'

const entry = await getEntry('devblogs', `/devblogs/${currentPage}`)!


const { Content, headings } = await render(entry)
const { title, description, date } = entry.data
---

<Layout>
  <div class="bgblur card">
    <div class="row header">
      <div class="col">
        <h1>{title}</h1>
        <h3>{description}</h3>
      </div>
      <h3>{date}</h3>
    </div>
    <hr />
    <div class="markdown"><Content /></div>
  </div>

  <style lang="scss">
    .header {
      justify-content: space-between;
      > div > h1 {
        line-height: 1.2rem;
        margin-bottom: 0.8rem;
      }
    }

    .card {
      align-items: center;
      padding: 0.5rem;
      border-radius: 1rem;
      max-width: 950px;
      padding: 1rem;
      margin: 1rem;
      > * {
        margin: 0.65rem 0;
      }
    }
    h3 {
      color: #c4c4c4;
      font-weight: 375;
      font-size: 0.95rem;
    }
    :global(.markdown :is(p, h2, h3, ul)) {
      margin-bottom: 0.6rem;
    }
  </style>
</Layout>
