---
import Header from '../components/Header.astro'
import MobileNav from '../components/MobileNav.astro'
import { Snow } from '../components/Snow.tsx'
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css'
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mochienya</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="darkreader-lock" />
    <meta name="theme-color" content="#05afff" />
    <meta name="description" content="loyal nerdy puppygirlfriend" />
    <meta property="og:description" content="loyal nerdy puppygirlfriend" />
    <meta name="author" content="mochienya" />
    <meta property="og:title" content="mochienya" />
    <meta property="og:image" content="/android-chrome-512x512.png" />
    <meta name="twitter:card" content="summary" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet" />
    <ClientRouter />
  </head>
  <body style="background:#0c0c0c; margin:0">
    <Snow client:only="solid-js" transition:persist />
    <Header transition:persist />
    <MobileNav transition:persist />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  body,
  html {
    color-scheme: dark;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
  }
</style>
